*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
font-size: 62.5%;
}
body{

}
#app{
  margin: 10rem auto;
  height: 56.6rem;
  border-radius: 4.8rem;
  font-size: 1.6rem;
  width: 35.6rem;
  padding: 5.4rem 3.2rem 2.6rem 3.6rem;                           
  border: 1px solid red;
  background: #2d2a37;
  color: #ebebeb;
  
}
.visor{
  border: 1px solid red;

}
.teclas{
  display: flex;
  gap: 25px;
}